@import "tailwindcss";

:root {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

html {
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}