@import "tailwindcss";

:root {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    scroll-behavior: smooth;
}

html {
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

body {
    font-family: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: inherit;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}